ejercicio3/build/
ejercicio3/.qtcreator/
ejercicio3/*.pro.user
ejercicio3/*.pro.user.*
ejercicio3/*.o
ejercicio3/*.obj
ejercicio3/*.exe
ejercicio3/*.dll
ejercicio3/*.pdb
ejercicio3/*.ilk
ejercicio3/*.qtc_clangd/
